@font-face {
    font-family: ryan;
    src: url('../fonts/ryan.ttf');
}

html{
	transition:background 1s ease-out;
	overflow:hidden !important;
	height:100%;
}


#content{
	color: #ddd;
	margin-top:365px;
	margin-left:5%;
	position:relative;
	font-family: ryan; 
	font-size:70px; 
	font-weight:600 
}
.char{
	display: none;
	width:80px;
	height:90px;
	/*display: block; */
	float:left;
	transition: all 5s ease-in;
	position: relative;
	/*opacity: 0;*/
	/*Remember to restore position to relative and float to left.*/
}

/*
.char1{
	transition: all 0.7s ease-in 0s;
}

.char2{
	transition: all 0.7s ease-in 0.2s;
}

.char3{
	transition: all 0.7s ease-in 0.4s;
}

.char4{
	transition: all 0.7s ease-in 0.6s;
}

.char5{
	transition: all 0.7s ease-in 0.8s;
}

.char6{
	transition: all 0.7s ease-in 1s;
}

.char7{
	transition: all 0.7s ease-in 1.2s;
}

.char8{
	transition: all 0.7s ease-in 1.4s;
}

.char9{
	transition: all 0.7s ease-in 1.6s;
}

.char1{
	transition: all 0.7s ease-in 1.8s;
}

.char10{
	transition: all 0.7s ease-in 2s;
}

.char11{
	transition: all 0.7s ease-in 2.2s;
}

.char12{
	transition: all 0.7s ease-in 2.3s;
}

.char13{
	transition: all 0.7s ease-in 2.4s;
}

.char14{
	transition: all 0.7s ease-in 2.5s;
}

.char15{
	transition: all 0.7s ease-in 2.6s;
}
*/

.char-letter{
	z-index:2;
	position:absolute;
}

.char-image{
	position:absolute;
	height:100%;
	width:100%;
	z-index:3;
	transition:all 0.7s ease-in;
	border-radius: 50%;
}


.os-loader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 55555;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #ddd;
	background: #000;	
}

#skip-anim{
	position:absolute; 
	right:15px; 
	bottom:15px; 
	color:#FFF; 
	border:1px solid white; 
	border-radius:4px; 
	padding: 5px 15px;
	font-size: 15px;
	cursor: pointer;
}

#skip-anim:hover{
	text-decoration: underline;
	cursor:pointer; 
	
}

#skip-bgvid{
	font-family: ryan;
	font-weight: 600;
	position:absolute; 
	right:20px; 
	top:15px; 
	color:#aaa; 
	/*border:1px solid white; */
	/*border-radius:4px; */
	/*padding: 5px 15px;*/
	padding-right: 5px;
	font-size: 25px;
	cursor: pointer;
	/*background: rgba(0,0,0,0.3);*/
	-webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      
	  user-select: none;


}

#skip-bgvid:hover{
	cursor:pointer; 
	
}

#status-bgvid{
	font-family: ryan;
	font-weight: 600;
	position:absolute; 
	right:65px; 
	top:15px; 
	color:#aaa; 
	/*border:1px solid white; 
	border-radius:4px; 
	padding: 5px 15px;*/
	padding-right: 5px;
	font-size: 25px;
	cursor: pointer;
	/*background: rgba(0,0,0,0.3);*/
	-webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      
	  user-select: none;
}

#status-bgvid:hover{
	cursor: pointer;
}

#enter-site-btn :hover{
	cursor:pointer; 
	text-decoration:underline;
}

.audio-menu-item{
	font-size: 30px;
	font-weight: 600;
	cursor: pointer;
}

#song-name{
	font-size: 20px;
	/*font-family: Verdana;*/
}

#audio-control-menu{
	/*transform: rotate(-90deg);
	transform-origin: top left;*/
	font-size: 10px;
	position:fixed;
	bottom:0px;
	right:20px;
}



/*Video Bg*/

#bgvid-div{
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: 100%;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(29, 36, 43);
}

#youtube-vid{
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);	
}

#bgvid { 
    position: absolute;
    top:0;
    left: 25%;
    /*min-width: 100%;*/
    min-height: 100%;
    /*width: auto;*/
    height: auto;
 	background: url('http://demosthenes.info/assets/images/polina.jpg') no-repeat;
  	background-size: cover;
  	transition: 1s opacity;

}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
#polina h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

#polina a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
#polina a:hover{
  background:rgba(0,0,0,0.9);
}
/*
@media screen and (max-width: 500px) { 
  #polina div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}*/

#butterfly{ 
	position: absolute; 
	left: 0; 
	top: 0; 
	width:0%;
	height: 100%;
	background: red;
	z-index: 5;
	transition: all 0.3s linear;
} 
#progressbar{ 
	z-index: 10;
	opacity: 100%;
	display: ; 
	width: 100%; 
	height: 7px; 
	position: absolute; 
	bottom:0;
	left:0;
	cursor: pointer;
	/* background color */ 
	opacity:0.5; 
	
} 
#progressbar :hover{ 
	cursor: pointer;
}
#loadingprogress{ 
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background: #fff;
	opacity: 0.9;
	z-index: 3;
	transition: all 0.5s ease-in;
	cursor: pointer;	
}


